*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
span,label{
	display:inline-block;
}
body{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}
.container{
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.background{
	position:absolute;
	z-index:-9999;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../img/background.png) 0 0 no-repeat;
	background-size:100% 100%;
}
.copyright{
	position:absolute;
	bottom:2px;
	left:2px;
	font-size:12px;
	color:#f4f4f4;
}
.cover{
	z-index:9999;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transition:z-index 0s;
}
.home-loaded+.cover,
.article-loaded+.cover,
.work-loaded+.cover,
.message-loaded+.cover,
.contact-loaded+.cover{
	z-index:-9999;
	transition-delay:1.2s;
}